@tailwind base;
@tailwind components;
@tailwind utilities;

button:hover {
	opacity: 80%;
	transition: 0.1s;
}


/* ラジオボタン02のスタイル設定 */
.radio02 {
	float: left;
	width: 100%;
}

.radio02 input {
	display: none;
}

.radio02 label {
	display: block;
	float: left;
	cursor: pointer;
	width: 80px;
	margin: 1px 0 1px 0;
	padding: 5% 0 5% 0;
	border-right: 1px solid #d7d7d7;
	background: #e5e5e5;
	color: #555e64;
	font-size: 14px;
	text-align: center;
	line-height: 1;
	transition: .2s;
}

.radio02 label:first-of-type {
	border-left: 1px solid #d7d7d7;
}

.radio02 label:last-of-type {
	border-right: 0px;
}

.radio02 input[type="radio"]:checked+label {
	background-color: #1d5bb9;
	color: #fff;
}

